@model IEnumerable<TimeKeeper.DTOs.TotalHourDTO>
@{
    Layout = "_LayoutPrint";
    int number = 1;
}

<style>
    .date-display{
        display: flex;
        column-gap: 25px;
    }

</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">


        <div class="text-center">
            <h5 class="display-5"><strong>Horas registradas</strong></h5>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="date-display">

            <div class="col-xs-4 col-sm-4 col-md-4">
                <label class="form-label">
                    <strong>Fecha inicial</strong>
                </label>
                <h5>@ViewBag.FechaIni</h5>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <label class="form-label">
                    <strong>Fecha final</strong>
                </label>
                <h5>@ViewBag.FechaFin</h5>

            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 position-relative">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Empleados</th>
                            <th>Sucursal</th>
                            <th>Total horas</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@number</td>
                                <td>@item.Empleado</td>
                                <td>@item.Sucursal</td>
                                <td>@item.TotalHora</td>
                            </tr>

                            number++;
                        }
                    </tbody>

                </table>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    const BODY = document.getElementById('BodyPrint');
    document.addEventListener('DOMContentLoaded', function () {
        window.print();
        window.onafterprint = function () {
            Redirect();
        };
    });

    BODY.addEventListener('click', () => {
        Redirect();
    });


    function Redirect() {
        window.location.replace('@Url.Action("HorasRegist", "Reporte")');
    }



</script>