@model TimeKeeper.DTOs.Employ.EmpleadoViewListModelDTO
@{
    Layout = "_LayoutPanel";
    int row = 1;
}

<div class="modal fade" id="modalAddEmploy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAddUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" asp-controller="Empleado" asp-action="Registrar" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar empleado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body p-5 shadow-5">
                    <img src="~/media/biophoto/face/faceDefault.png" class="rounded mx-auto d-block mb-3 w-25" alt="...">

                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">ID Ponchador</span>
                            <input type="number" class="form-control" name="IdEmpleado" required >
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">Nombre</span>
                            <input type="text" class="form-control" name="Nombre" required >
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">Departamento</span>
                            <input type="text" class="form-control" name="Departamento" required>
                        </div>
                    </div>

                      <div class="mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">Sucursal</span>
                                <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="IdCentro" required>
                                    <option selected>-Seleccionar-</option>
                                    @foreach(var item in Model.Centros)
                                    {
                                      <option value="@item.IdCentro">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                       </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-save-fill"></i>
                    <strong>Guardar</strong>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <a asp-controller="Home" asp-action="Panel" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-90deg-left"></i>
            <span>Panel principal</span>
        </a>

        <h3 class="text-center">Empleados</h3>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <form class="m-3" asp-controller="Empleado" asp-action="Index" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">Sucursal</span>
                            <select class="form-select form-select-lg" aria-label="Large select example" id="IdCentro" name="IdCentro" required>
                                <option selected value="0">TODAS</option>
                                @foreach (var item in Model.Centros)
                                {
                                    <option value="@item.IdCentro">@item.Nombre</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-search"></i>
                                 <strong>BUSCAR</strong>
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <button id="btnAddEmploy" class="float-end btn btn-outline-success m-0 btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#modalAddEmploy">
                    <i class="bi bi-person-fill-add"></i>
                    <strong>Agregar</strong>
                </button>
            </div>

        </div>


    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">

        <table id="EmployTable" class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Face</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Empleados)
                {
                    string extension = item.IdEmpleado.ToString() + ".jpg";
                    if (!item.HasImg) extension = "faceDefault.png";

                    <tr>
                        <td><strong>@row</strong></td>
                        <td class="td-face-id">
                            <img src="~/media/biophoto/face/@extension" />
                        </td>
                        <td>
                            @if(item.Estado.Equals("ACTIVO")){
                                <h3 class="m-0"><strong>@item.Nombre</strong></h3>

                            }else{
                                <h3 class="text-decoration-line-through text-danger m-0"><strong>@item.Nombre</strong></h3>
                            }
                            <h5><strong>ID Ponchador:</strong> @item.IdEmpleado</h5>
                        </td>
                        <td>
                            <h5 class="m-0">@item.Centro.Nombre</h5>
                            <strong>@item.Departamento</strong>

                           

                        </td>
                        <td>
                            <a class="btn btn-light btn-lg" asp-controller="Empleado" asp-action="Empleado" asp-route-Id="@item.IdEmpleado">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>

                    row++;
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    const employtable = document.getElementById('EmployTable');
    const rows = employtable.lastElementChild.childElementCount;


    document.addEventListener('DOMContentLoaded', () => {
        if (rows > 1) {
            let table = new DataTable(employtable, {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json'
                },
                ordering: false,
                lengthMenu: [
                     [50, 100, 200, -1],
                    [50, 100, 200, 'All']
                ]
            });
        }

        MostrarMensaje();


        const idCentro = parseInt('@ViewBag.Sucursal');
        const selector = document.getElementById('IdCentro');
        selector.selectedIndex = idCentro;


    });


    function MostrarMensaje() {
        const msj = '@ViewBag.Msj';

  
        switch (msj) {
            case "edited":
                ShowDialog('Editado!!', 'success');
                break;
            case "added":
                ShowDialog('Agregado!!', 'success');
                break;
            case "duplicated":
                ShowDialog('ID Ponchador Duplicado!!', 'error');
                break;
            default:
                return;
        }


        function ShowDialog(title, icon) {
            swal({
                title,
                text: "Información del empleado",
                icon
            });
        }
    }


</script>